@import "variables";
@import "function";

.banner {
  background-color: white;
  height: $BANNER_LOGO_HEIGHT;
  position: fixed;
  top: 0;
  width: calc(100% - #{$MENU_WIDTH});
  padding-left: $PADDING_CONTENT;
  padding-right: $PADDING_CONTENT;
  display: flex;
  align-items: center;
  z-index: 1000;

  &.search-banner {
    .input-wrapper--with-icon {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }

  &.banner--with-shadow-bottom {
    @include box-shadow($SHADOW_BOTTOM)

  }

  &.banner--nav {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


    span:first-child {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    span:last-child {
      color: $SECONDARY_COLOR;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
    }

    span {
      svg {
        width: 20px;
        margin-right: 2px;

      }
    }

  }
}
