@import "_variables";
@import "_function";
@import "_font";

$animationTransition: .5s;

.button-wrapper {
  text-align: center;
}

button {
  font-family: $Montserrat;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 14px 14px;
  border-radius: 4px;

  background-color: transparent;
  letter-spacing: 2px;
  cursor: pointer;

  margin-top: 10px;

  &.button--with-symbol {

    padding-right: 40px;
    position: relative;

    svg, img {
      position: absolute;
      top:50%;
      width: 25px;
      right: 10px;
      @include transformHelper(translateY(-50%));
    }
  }

  @include transitionHelper(border-color $animationTransition ease, color $animationTransition ease, background-color $animationTransition ease);

  &:focus {
    outline: none;
  }

  &.button--green {
    border: 1px solid $GREEN;
    background-color: transparent;
    color: $GREEN;
  }

  &.button--green-reverse {
    border: 1px solid $GREEN;
    background-color: $GREEN;
    color: white;
  }

  &.button--grey {
    border: 1px solid $GREY;
    background-color: transparent;
    color: $GREY;
  }

  &.button--grey-reverse {
    border: 1px solid $GREY;
    background-color: $GREY;
    color: white;
  }

  &.button--grey-light {
    border: 1px solid lighten($GREY, 20);
    background-color: transparent;
    color: lighten($GREY, 20);
  }

  &.button--grey-light-reverse {
    border: 1px solid lighten($GREY, 20);
    background-color: lighten($GREY, 20);
    color: white;
  }

  &.button--ternary-color-reverse {
    border: 1px solid $TERNARY_COLOR;
    background-color: $TERNARY_COLOR;
    color: white;
  }

  &.button--red-reverse {
    border:1px solid $RED;
    background-color:$RED;
    color:white;
  }

  &.button--yellow-reverse {
    border:1px solid $YELLOW;
    background-color:$YELLOW;
    color:white;
  }

  &.button--ternary-color {
    border: 1px solid $TERNARY_COLOR;
    background-color: transparent;
    color: $TERNARY_COLOR;
  }

  &.button--primary-color {
    border: 1px solid $PRIMARY_COLOR;
    background-color: transparent;
    color: $PRIMARY_COLOR;
  }

  &.button--primary-color-reverse {
    border: 1px solid $PRIMARY_COLOR;
    background-color: $PRIMARY_COLOR;
    color: white;
  }

  &.button--primary-color-light {
    border: 1px solid $PRIMARY_COLOR_LIGHT;
    background-color: transparent;
    color: $PRIMARY_COLOR_LIGHT;
  }


  &.button--primary-color-light-reverse {
    border: 1px solid $PRIMARY_COLOR_LIGHT;
    background-color: $PRIMARY_COLOR_LIGHT;
    color: white;
  }

  &.button--secondary-color {
    border: 1px solid $SECONDARY_COLOR;
    background-color: transparent;
    color: $SECONDARY_COLOR;
  }

  &.button--secondary-color-reverse {
    border: 1px solid $SECONDARY_COLOR;
    background-color: $SECONDARY_COLOR;
    color: white;
  }

  &.button--light-blue-reverse {
    border: 1px solid $TERNARY_COLOR;
    background-color: $TERNARY_COLOR;
    color: white;
  }

  &.button--linear-red-orange {
    background: $LINEAR_GRADIENT_RED_ORANGE_H;
    border: 0 solid transparent;
    color: white;
  }

  &.button--linear-orange {
    background: $LINEAR_GRADIENT_ORANGE;
    border: 0 solid white;
    color: white;
  }

  &.with-symbol {
    svg, img {
      width: 15px;
      vertical-align: sub;
    }
  }
}

@media (hover: hover) {
  &.button--linear-red:hover {
    border: 0 solid $RED;
    color: white;
  }

}

