// Variables
@import "_variables";
// Functions
@import "_function";

.container--with-menu {
  width: calc(100% - #{$MENU_WIDTH});
  margin-left: auto;
  position: relative;

  .wrapper {
    padding-left: $PADDING_CONTENT;
    padding-right: $PADDING_CONTENT;
    padding-top: $PADDING_TOP_CONTENT;

    &.wrapper--with-panel {
      > *:last-child {
        width: calc(100% - #{$FILTER_PANEL_WIDTH + $PADDING_CONTENT});
        margin-left: auto;
        height: 100%;

      }
    }
    &.wrapper--with-table {
      section {
        background-color: white;
        @include box-shadow($SHADOW);
        border-radius: 4px;
        margin-bottom: 30px;
        padding: 20px;

        .init {
          color:$TERNARY_COLOR;
          text-decoration: underline;
          cursor: pointer;
        }

        .export {
          color:$PRIMARY_COLOR;
          text-decoration: underline;
          cursor: pointer;
        }

        .subheader {
          margin-top: 5px;
        }

        .header-wrapper {
          position: sticky;
          padding: 48px 0 10px 0;
          top: 72px;
          width: 100%;
          background-color: white;
          display: flex;
          justify-content: space-between;
          z-index: 200;

          button {
            margin: 0;
          }
        }

        .header-wrapper__buttons {
          display: flex;
          .custom-select {
            font-size: .875em;
            line-height: 3.4em;
            max-height: 3.4em;
          }
          button {
            margin-left: 5px;
          }
        }

        .input-wrapper--with-icon {
          position: relative;
          height: 40px;
          width: 100%;
          max-width: 400px;

          input {
            max-width: 400px;
            width: 100%;
          }
        }
      }
    }
  }

}

.container--with-table {
  table {
    width: 100%;

    .item-checkbox {
      max-width: 35px;
      min-width: 35px;
    }

    &.table--with-sticky-header {
      thead th {
        top: 168px;
      }
    }
  }
}
