@import "_variables";
@import "_font";
@import "_function";

.editor {

  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid lighten($GREY, 20);
  border-radius: 4px;
  overflow: hidden;

  .menubar {
    padding: 10px;
    display: flex;
    background-color: lighten($GREY, 64);

  }

  .menubar__button__wrapper {
    display: flex;

    &:not(:first-child) {
      margin-left: 20px;
    }

    .menubar__button:not(:last-child) {
      border-right-width: 0;
    }

    .menubar__button:not(:last-child):not(:first-child) {
      border-radius: 0;
    }

    .menubar__button:first-child {
      border-radius: 4px 0 0 4px;
    }

    .menubar__button:last-child {
      border-radius: 0 4px 4px 0;
    }
  }

  .menubar__button {
    font-weight: normal;
    margin: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 25px;
    font-size: .725em;

    &--with-icon {
      svg, img {
        width: 15px;
        vertical-align: middle;
      }
    }
  }

  .editor__content {
    //margin-top: 30px;

    .ProseMirror {
      padding: 20px 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      > p:first-of-type {
        margin-top: 0;
      }
    }


  }
}

.editor *.is-empty:nth-child(1)::before,
.editor *.is-empty:nth-child(2)::before {
  content: attr(data-empty-text);
  float: left;
  color: lighten($GREY, 20);
  pointer-events: none;
  height: 0;
  font-style: italic;
}
