@import "_variables";
@import "_font";
@import "_function";

.editor {

  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid $TERNARY_COLOR;
  border-radius: 4px;

  .menubar {
    padding: 10px;

  }

  .menubar__button {
    font-weight: normal;
    margin: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    line-height: 25px;

    &--with-icon {
      svg, img {
        width: 20px;
        vertical-align: middle;
      }
    }

    &--grey {

    }
  }

  .editor__content {
    //margin-top: 30px;

    .ProseMirror {
      padding: 10px 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      border-top: 1px solid $TERNARY_COLOR;

    }

  }
}

.editor *.is-empty:nth-child(1)::before,
.editor *.is-empty:nth-child(2)::before {
  content: attr(data-empty-text);
  float: left;
  color: lighten($GREY, 20);
  pointer-events: none;
  height: 0;
  font-style: italic;
}
