@import "_variables";
@import "_function";
@import "_font";

.notification {
  position: fixed;
  z-index: 100000;
  right: 40px;
  top:60px;
  padding: 20px;
  background-color: lighten($GREY, 60);
  min-height: 90px;
  width: 300px;
  border-left: 15px solid lighten($GREY, 30);
  display: flex;
  align-items: center;

  @include box-shadow($SHADOW);
  border-radius: 4px;
  font-family: $CircularStd;
  font-style: italic;

  &--error {
    background-color: lighten($RED, 45);
    border-left: 15px solid lighten($RED, 15);
  }

  &--warning {
    background-color: lighten($YELLOW, 40);
    border-left: 15px solid lighten($YELLOW, 15);
  }

  &--information {
    background-color: lighten($TERNARY_COLOR, 28);
    border-left: 15px solid lighten($TERNARY_COLOR, 9);
  }

  &--success {
    background-color: lighten($GREEN, 55);
    border-left: 15px solid lighten($GREEN, 15);
  }
}
