@import "_variables";
@import "_function";


/* width */
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: transparent;
  //@include box-shadow(inset $SHADOW)
}

/* Handle */
body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: $MAIN_GRADIENT_V;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: $MAIN_GRADIENT_V;
}
