@import "_variables";
@import "_function";


/* width */
.scroll-bar--grey, body {

  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: lighten($GREY, 30);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $GREY;
  }
}
