@import "./_variables";

.theme--default {
  fill:$PRIMARY_COLOR;
}

.theme--primary-color {
  fill: $PRIMARY_COLOR;
}

.theme--primary-color-light {
  fill: $PRIMARY_COLOR_LIGHT;
}

.theme--secondary-color {
  fill: darken($SECONDARY_COLOR, 12);
}

.theme--ternary-color {
  fill: $TERNARY_COLOR;
}

.theme--red {
  fill: $RED;
}

.theme--green {
  fill: $GREEN;
}

.theme--grey {
  fill: $GREY;
}

.theme--red-light {
  fill:$LIGHT_RED;
}

.theme--orange {
  fill:$ORANGE
}

.theme--white {
  fill:white;
}
