@import "./_variables";

.theme--default {
  fill:$PRIMARY_COLOR;
}

.theme--red {
  fill: $RED;
}

.theme--red-light {
  fill:$LIGHT_RED;
}

.theme--orange {
  fill:$ORANGE
}

.theme--white {
  fill:white;
}
