// Fonts
@import "font";
// Variables
@import "variables";
// Functions
@import "function";
// animations
@import "animations";
// button
@import "button";
//@import "scrollbar";
@import "form";
@import "symbols";
@import "banner";
@import "panel";

//Les bases

body, html {
  margin: 0;
  padding: 0;
  font-family: $Montserrat;
}

html {
  background-image: linear-gradient(0deg, #F5F5F5 0%, #E4E4E4 100%);
  min-height: 100vh;
}

body {
  color: $GREY;
  font-size: 1em;
}

* {
  @include box-sizing(border-box);
}

picture {
  display: block;

  img {
    width: 100%;
  }
}

picture, img, svg {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


h1, h2, h3 {
  margin:0;
  padding: 0;
}


h1, h2, h3, h4 {
  &.title--secondary-color {
    color:$SECONDARY_COLOR
  }

  &.title--red {
    color:$RED
  }

  &.title--primary-color {
    color:$PRIMARY_COLOR
  }

  &.title--primary-color__light {
    color:$PRIMARY_COLOR_LIGHT
  }

  &.title--ternary-color {
    color:$TERNARY_COLOR
  }
}

h1 {
  font-family: $CircularStd;
  font-weight: bold;
  font-size: 1.75em;
}

h2 {
  font-family: $CircularStd;
  font-weight: bold;
  font-size: 1.125em;
}

.container {
  width: calc(100% - #{$MENU_WIDTH});
  margin-left: auto;
  position: relative;
}

.wrapper {
  padding-left: $PADDING_CONTENT;
  padding-right: $PADDING_CONTENT;
  padding-top: $PADDING_TOP_CONTENT;
}


.exercise-article {

  h1 {
    font-size: 1.3em;
  }
  img {
    margin-top:20px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 25px;
    margin-top: 25px;

    > code, .title-ref {
      background-color: lighten($TERNARY_COLOR, 25);
      color:$TERNARY_COLOR;
      padding: 1px;
      border:1px solid lighten($TERNARY_COLOR, 10);
      border-radius: 2px;
    }
  }

  pre {
    margin-top:30px;
    margin-bottom:30px;
    overflow-x: scroll;
    background-color: lighten($GREY, 63);
    padding: 20px;


    .kw, .hljs-keyword {
      color:$TERNARY_COLOR;
    }

    .hljs-title {
      color: darken($TERNARY_COLOR, 12)
    }
    .dt {
      color:$TERNARY_COLOR
    }

    .co, .hljs-comment {
      color:$NIGHT_BLUE
    }

    .hljs-meta {
      color:$LIGHT_RED
    }

    .fu {
      color:$NIGHT_BLUE

    }
  }

  code, .title-ref {
    font-family: $SourceCodePro;
    font-size: 1em;
  }

  em {
    color:$GREY;
    font-weight: bold;
  }

  a {
    color:$NIGHT_BLUE
  }
}
