@import "_function";
@import "_variables";
@import "_font";

/**
  Base for input, select and textarea
 */
input {
  line-height: 3.2em;
}

textarea {
  resize: none;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;
}

input, textarea, .custom-select {
  padding: 0 25px;
  @include border-radius(4px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  font-family: $Montserrat;
  font-weight: lighter;
  font-size: 0.75em;
}

input, textarea {

  &::placeholder {
    font-size: 1em;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  &:-webkit-autofill {
    background-color: transparent !important;
    background-image: none !important;
  }

}

select {
  display: none;
}

input[type=file] {
  display: none;

  + label {
    color:white;
    border-radius: 4px;
    padding: 10px 15px;
    cursor:pointer;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    align-items: center;

    img, svg {
      vertical-align: sub;
      width: 20px;
      margin-right: 10px;
    }
  }
}

.input-wrapper--with-icon {
  position: relative;
  input {
    padding-left: 50px;
  }
  svg {
    width: 15px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
}

.error-message {
  font-style: italic;
}

/**
  Custom theme of textarea
 */

@include input-theme(primary-color, $PRIMARY_COLOR, $PRIMARY_COLOR_LIGHT);
@include input-theme(secondary-color, $SECONDARY_COLOR, lighten($SECONDARY_COLOR, 10));
@include input-theme(ternary-color, $TERNARY_COLOR, lighten($TERNARY_COLOR, 10));
@include input-theme(grey, $GREY, lighten($GREY, 20));
